---
import { Code } from "@astrojs/starlight/components";

import importedCounter from "./counter?raw";
---

<p class="text-xl mb-4 mt-8 font-bold">Example</p>
<Code code={importedCounter} lang="js" />

<p class="text-xl mt-8 font-bold">Output</p>
<div id="root" class="flex justify-between items-center"></div>

<script>
  import { html, mount, signal } from "@hellajs/core";
  import { tw } from "../tw";

  const { $, button, span } = html;

  const count = signal(0);

  const setCount = (change: number) => count.set(count() + change);

  const styles = {
    button: tw`rounded bg-[var(--sl-color-text-accent)] py-2 px-4 border border-transparent text-center text-sm text-[var(--sl-color-text-invert)] font-semibold`,
    count: tw`text-xl font-bold bg-slate-600 px-4 py-1.5 rounded text-white`,
  };

  const btn = (set: number, label: string) =>
    button(
      {
        className: styles.button,
        onclick: () => setCount(set),
      },
      label,
    );

  const Counter = () =>
    $(
      btn(-1, "Decrement"),
      span(
        {
          className: styles.count,
        },
        count(),
      ),
      btn(+1, "Increment"),
    );

  mount(Counter);
</script>
