<div
  id="app"
  class="flex justify-center items-center p-4 border-1 border-[var(--ec-brdCol)] bg-[var(--ec-frm-edBg)]"
>
</div>

<script>
  import { html, mount, signal } from "@hellajs/core";
  import { tw } from "../tw";

  const { div, button, span } = html;

  const count = signal(0);

  const setCount = (change: number) => count.set(count() + change);

  const styles = {
    button: tw`mx-6 rounded bg-[var(--sl-color-text-accent)] py-2 px-4 border border-transparent text-center text-sm text-[var(--sl-color-text-invert)] font-semibold active:transition-transform active:scale-90`,
    count: tw`text-xl font-bold bg-slate-600 px-4 py-1.5 rounded-full text-white`,
  };

  const btn = (set: number, label: string) =>
    button(
      {
        class: styles.button,
        onclick: () => setCount(set),
      },
      label,
    );

  const Counter = div(
    btn(-1, "Decrement"),
    span({ class: styles.count }, count),
    btn(+1, "Increment"),
  );

  mount(Counter);
</script>
