---
const { headings = [] } = Astro.props as {
  headings?: {
    text: string;
    slug: string;
    depth: number;
  }[];
};
const filteredHeadings = headings.filter((h) => h.depth > 1 && h.depth < 4);
---

{
  filteredHeadings.length > 0 && (
    <aside class="fixed top-16 right-0 h-[calc(100vh-4rem)] w-80 p-4 hidden lg:block overflow-y-auto">
      <h2 class="font-bold mb-2">On this page</h2>
      <ul class="menu">
        {filteredHeadings.map((heading) => (
          <li>
            <a
              href={`#${heading.slug}`}
              class="text-sm"
              style={`margin-left: ${(heading.depth - 2) * 1}rem; display: block;`}
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
