<div id="todo"></div>

<script>
  import { signal, effect } from "@hellajs/core";
  import { html, forEach, show, mount } from "@hellajs/dom";
  const { div, input, button, ul, li, p } = html;

  function Todo() {
    const todos = signal<string[]>([]);
    const inputValue = signal("");

    const todoCount = () => todos().length;
    const hasTodos = () => todoCount() > 0;
    const isDisabled = () => !inputValue();

    const setInput = (e: InputEvent) => {
      inputValue.set((e.target as HTMLInputElement)?.value);
    };

    const addTodo = () => {
      todos.set([...todos(), inputValue()]);
      inputValue.set("");
    };

    effect(() => {
      console.log("Todo count:", todoCount());
    });

    return div(
      p("Todo List (", todoCount, ")"),
      div(
        input({
          type: "text",
          value: inputValue,
          oninput: setInput,
        }),
        button({ onclick: addTodo, disabled: isDisabled }, "Add"),
      ),
      show(
        hasTodos,
        ul(forEach(todos, (todo) => li(todo))),
        div("No todos yet!"),
      ),
    );
  }

  mount(Todo, "#todo");
</script>
